<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <form action="/">
        <input type="submit" value="Vissza a főoldalra" />
      </form>
    </nav>
    <main>
      <form method="post">
        <p>Weight: <input type="number" name="weight" required /></p>
        <p>Eye color: <input type="text" name="eyeColor" required /></p>
        <p>
          <input type="submit" value="New Cat" />
        </p>
      </form>
    </main>
  </body>
</html>
